body {
    text-align: center;
}
/*headings*/
@font-face {
    font-family: 'melinda';
    src: url('fonts/Melindascript.ttf') format('truetype');
}

h1{
    font-family: 'melinda';
}
/* Carousel Styling */
.slide1{
    width: auto;
    height: 360px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .slide2{
    width: auto;
    height: 360px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .slide3{
    width: auto;
    height: 360px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

/*Footer*/
footer {
    position: fixed;
    font-size: smaller;
    width: 100%;
    background-color: #6a8064;
    color: white;
    text-align: center;
}