body.index {
    text-align: center;
}

/*headings*/
@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat-Regular.ttf);
}

.navbar-brand {
    font-family: Montserrat;
    font-size: 100px;
}

}
@font-face {
    font-family: "Vollkorn";
    src: url(/fonts/Vollkorn-VariableFont_wght.ttf);
}


.text-center h2 {
    font-family: Vollkorn;
    font-style: italic;
    font-weight: 200;
    color: #435D36;
}

.text-center h3 {
    font-family: Vollkorn;
    font-style: italic;
}

/* Navbar styling */
.navbar {
    margin-bottom: 0;
    background-color: #6a8064;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
  }
  
  /* Add a gray color to all navbar links */
  .navbar li a, .navbar .navbar-brand {
    color: #7a9273 !important;
  }
  
  /* On hover, the links will turn white */
  .navbar-nav li a:hover {
    color: #183d3b !important;
  }
  
  /* The active link */
  .navbar-nav li.active a {
    color: #fff !important;
    background-color: #6a8064 !important;
  }
  
  /* Remove border color from the collapsible button */
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  
  /* Dropdown */
  .open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
  }
  
  /* Dropdown links */
  .dropdown-menu li a {
    color: #000 !important;
  }
  

/* Carousel Styling */
.slide1{
    width: auto;
    height: 360px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .slide2{
    width: auto;
    height: 360px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .slide3{
    width: auto;
    height: 360px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

/*Footer*/
footer{
    background-color: #9DAE98;
}

/* contact page */
body.contact {
    font-family: Montserrat;
}
.form{
    font-family: Montserrat;
    color: green;

}

.col-sm-4 h4{
    color: a2b155;
}
