body {
    text-align: center;
}
/*headings*/
@font-face {
    font-family: "Better";
    src: url(/fonts/better_you_smile-webfont.woff);
}

.page-header {
    font-family: Better;
    color: green;
    font-size: 100px;
}

@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrart-ExtraBold.ttf);
}

.page-header2 {
    font-family: Montserrat;
    font-style: oblique;
    font-weight: 80;
}
/* Carousel Styling */
.slide1{
    width: auto;
    height: 360px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .slide2{
    width: auto;
    height: 360px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .slide3{
    width: auto;
    height: 360px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

/*Footer*/
footer {
    position: fixed;
    font-size: smaller;
    width: 100%;
    background-color: #6a8064;
    color: white;
    text-align: center;
}